#navbar-special{
font-family: 'Baloo Da 2', cursive;
font-weight: 800;
color: #ffffff;
padding-bottom: 0.5rem;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
@-ms-viewport {
    width: device-width ;
  }

#navbar-special1{
    font-family: 'Baloo Da 2', cursive;
    font-weight: 800;
    color: #ffffff;
    
    }
.nav-link{
    padding-bottom: 0;
}
.navbar-expand-xl .navbar-nav .nav-link{
    padding: 0;
}
.bg-info{
    background: linear-gradient(-80deg, #10A48F, #1670C07D);
}
.specialnavbar{
    text-align: right;
}

.border {

    border: 1px solid #e9e9eb !important;
}
/* .table-special{
    margin-top: 6rem
} */
.special{
    height: 1.60rem;
    width: 1.25rem;
}
.text-dark {
    color: #000 !important;
}
.secondary{
    font-size: 2.5rem;
}
.hover1:hover{
    background: #82848382;
}
.sidebar{
    float: left;
    margin-right: auto;
    width: 20%;
}
.bg-secondary {
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.7rem;
    background: linear-gradient(-80deg, #10A48FB3, #1670C0A1)
}
.rightside{
padding-top: 10px;
float: right;
width: 75%
}
.icon{
    font-size: 2rem;
}
.photo{
    width:60%
}
.border-right{
    border-color:  #1670C0A1;
}
.skills{   
    color: aliceblue;
    font-size: 1.7vw;
    background: linear-gradient(-80deg, #10A48FD9, #1670C0DB);
}
.font1
{
    font-family: 'Baloo Da 2', cursive;
    font-size: 120%;
}
sup {
    top: 0.35rem;

}
.scifun{
    top: 0.35em;
    text-align: center;
}
.font{
    font-family: 'Baloo Da 2', cursive;
    font-size: 120%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .container{
        width: 80%;
        scroll-behavior: smooth;
        
    }
    html{
        overflow: scroll;
        scroll-behavior: smooth;

 }
}
.btn-white{
    background-color: #d4d5d6;
}
.btn-info{
    background-color: #C2C2C2;
    color: black;
}
body{
    padding-top: 75px;
    padding-bottom: 75px;

    background-color: #ecedee;
}
footer{
    bottom: 0;
}
*:focus {outline:none !important;
    box-shadow: none !important;
  }
*:active{
    outline:none !important;
    box-shadow: none !important;
}
.hover1:focus{
    background:  #82848382;
}
.hover1:active{
    background:  #82848382;
}
ul { list-style-type: none; 
    padding-left: 1.2em;
}
.courses{
    font-size: 1.7vw;
    font-family: 'Baloo Da 2', cursive;;
}