#navbar-special{
font-family: 'Baloo Da 2', cursive;
font-weight: 800;
color: #ffffff;
padding-bottom: 0.5rem;
}

#navbar-special1{
    font-family: 'Baloo Da 2', cursive;
    font-weight: 800;
    color: #ffffff;
    
    }
.nav-link{
    padding-bottom: 0;
}
.navbar-expand-xl .navbar-nav .nav-link{
    padding: 0;
}
.bg-info{
    background: linear-gradient(-80deg, #10A48F, #1670C07D);
}
.specialnavbar{
    text-align: right;
}
.jumbotron{
    margin-top: 5rem;
}
.border {

    border: 1px solid #adb1b5 !important;
}
/* .table-special{
    margin-top: 6rem
} */
.special{
    height: 1.60rem;
    width: 1.25rem;
}
.text-dark {
    color: #000 !important;
}
.secondary{
    font-size: 2.5rem;
}
.hover:hover{
    background: #82848382;
}
.sidebar{
    float: left;
    width: 20%;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 12rem;
}
.bg-secondary {
    font-family: 'Baloo Da 2', cursive;
    font-size: 140%;
    background: linear-gradient(-80deg, #10A48FB3, #1670C0A1)
}
.rightside{
margin-top: 6rem;
float: right;
 width: 80%
}
.icon{
    font-size: 2rem;
}
.photo{
    width:60%
}
.border-right{
    border-color:  #1670C0A1;
}
.skills{
    font-family: 'Baloo Da 2', cursive;
    color: aliceblue;

    font-size: 140%;
    background: linear-gradient(-80deg, #10A48FD9, #1670C0DB);
}
.font{font-family: 'Baloo Da 2', cursive;
    font-size: 100%;
}


 /* body{
    background: url(../imgs/background.png);
}  */